*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
body p{
    color: #849DAD;

}

.page{
    width: 100vw;
    height: 100vh;
    background-color:#F4F6FD ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    margin-left: 10%;
    margin-bottom: 10%;
}


.payment-page{
    background-color:#FFFFFF;
    width: 60vw;
}
.page >.payment-page > .wrapper{
    display: flex;
    justify-content: left;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}

.page > .left{
    width: 50%;
   
}
.page .left img{
    object-fit: cover;
    object-position: center;

}
.page  .right{
    width: 50%;
    background-color: #FFFFFF;
    margin: 20px 30px;

}

.wrapper .right input{
    width: 80%;
    height: 5vh;
   
    margin-bottom: 5%;
    border: none;
    padding-left: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.wrapper .right input ,.wrapper .right p{
    margin-left: 10%;
}
.right .inwrap{
    display: flex;
    gap: 5%;
    margin-left: 6%;
}
.right .inwrap div{
    width: 50%;
}
.right select{
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    height: 5vh;
    padding-left: 5%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.checkbox{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3%;
   
}



.checkbox .check{
    width: 5%;
    margin-left: 9%;
    background-color: #F7F7F7;


   
}

.sub ,.vat ,.total{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 83%;
    margin: 3% 5%;
    font-size: 17px;
}
.fillar{
    background-color: gray;
    height: 0.2%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 5%;
}
.button button{
    width: 70%;
    height: 3.5vh;
    color: white;
    border: none;
    background-color: #4C9FED;
}
