*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}
body{
    background-color: black;
}

.page1{
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    overflow-x: hidden;
    background-color: #DA6C38;

}
.img{
    width: 50%;
}
.img img{
    width: 100%;
    
}
.container{
    width: 50%;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #EACAFD; */
}



.calculator{
    width: 50%;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,  5px 5px 12px rgba(0,0,0,.16);
                   
    display: grid;
    grid-template-columns: repeat(4,25%);               



}

input{
    grid-column:span 4 ;
    height: 50%;
    width: 100%;
    margin-top: 30px;
    background-color: #ecf3f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                       5px 5px 12px rgba(0,0,0,.16);
                       border: none;
                       border-radius: 30px;
                       color: rgb(70,70, 70 );
                       font-size: 50px;
                       text-align: end;
                       margin-top: 40px;
                       padding: 20px;

                       
}

button{
    width: 5rem;
    height: 5rem;
    border-radius: 40px;
    background-color: #cef0f3;
    box-shadow: -5px -5px 12px #ffffff,
                  5px 5px 12px rgba(0,0,0,.16);
                  border: none;
                border-radius: 50px;
                  margin: 8px;
                  font-size: 16px;

                 
}


.equal{

    width: 155px;
    border-radius: 40px;
    background-color: #cef0f3;
    box-shadow: -5px -5px 12px #ffffff,
    5px 5px 12px rgba(0,0,0,.16);
    background-color: rgb(226, 173, 203);
}





