@media (min-width: 360px) and (max-width: 600px){

    header > nav > .menu{
        display: none;
    }
    header > nav > .menu-icon{
        display: initial;
    }
    header > nav > .menu-icon > i{
        color: white;
    }

    /* ------------------------- Page 1 ------------------ */

    .page1 > .page1-wrapper > .page1-content{
        position: absolute;
        right: 10%;
        top: 50%;
        /* z-index: 10; */
       
   }
   .page1 > .page1-wrapper > .page1-content P{
    color: gray;
    font-size: .5rem;
    font-weight: 300;
    letter-spacing: 0.25em;
}
.page1 > .page1-wrapper > .page1-content h1{
    color: white;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.2em;
}

  /* ------------------------- PAGE 2 ------------------- */

 .page2 > .page2-wrapper {
    width: 80%;
    flex-direction: column;
    margin: 0 10%;
   
  }
  .page2-right > h1:first-child{
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.page2-right > h2{

    font-size: 2rem;
    font-weight: 300;

}
.page2-right  p{
    color: white;
    font-size: 1rem;
   margin-top: 3%;
}

}


/* ============================ 1024 ==================== */

@media (min-width: 601px) and (max-width: 1024px){

    nav {
        justify-content: space-between;
    }

    header > nav > .menu{
        width: 60%;
        
    
        
    }
    header > nav > .menu > ul{
       
        gap: 4%;
    
    }
    header > nav > .menu > ul li{
        font-size: .9rem;
    }



 /* --------------------------- PAGE 1 ------------------------ */
    .page1 > .page1-wrapper > .page1-content{
        position: absolute;
        right: 2%;
        top: 50%;
        /* z-index: 10; */
       
   }

    .page1 > .page1-wrapper > .page1-content P{
        color: gray;
        font-size: .5rem;
        font-weight: 300;
        letter-spacing: 0.25rem;
    }
    .page1 > .page1-wrapper > .page1-content h1{
        color: white;
        font-size: 3rem;
        text-align: center;
        letter-spacing: 0.2rem;
    }

    /* -------------------- Page 2---------------- */

    .page2 > .page2-wrapper {
        width: 90%;
        margin: 0 5%;
       
      }
      .page2-right > h1:first-child{
        color: white;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    .page2-right > h2{
    
        font-size: 2rem;
        font-weight: 300;
    
    }
    .page2-right  p{
        color: white;
        font-size: 1.2rem;
       margin-top: 3%;
    }

}