*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #060606;
}


header{
    width: 100vw;
}

header > nav {
    width: 100%;
    height: 10vh;
    /* background-color:black; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header > nav > .menu > ul {
    list-style: none;
    display: flex;
    gap: 8%;

}
header > nav >.menu-icon{
    color: white;
    display: none;
    
}
header > nav > .menu > ul > li{
    font-size: 1.3rem;
}


/* ====================== PAGE 1 ========================== */

.page1{
    width: 100vw;
    height: 80%;
    background-color: yellow;
   
   
}
.page1-wrapper{
    position: relative;
    width: 100%;
    
}
.page1 > .page1-wrapper > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.page1 > .page1-wrapper > .page1-content{
     position: absolute;
     right: 15%;
     top: 50%;
     /* z-index: 10; */
    
}
.page1 > .page1-wrapper > .page1-content P{
    color: gray;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.25em;
}
.page1 > .page1-wrapper > .page1-content h1{
    color: white;
    font-size: 5rem;
    text-align: center;
    letter-spacing: 0.2em;
}