
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html,body{
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./images/MANOLO\ COSTA.jpeg) no-repeat;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
    color: #fff;
    font-size: 18px;
}
.logo{
    width: 100px;
    margin: 20px;
}
.menu{
    float: right;
    margin: 55px;
}
nav ul{
    display: none;
}
.brand-name{
    text-align: center;
}
.brand-name span{
    color: rgb(235, 235, 9);
}
.countdown-caption{
    text-align: center;
    font-weight: bold;
}
.countdown-container{
    text-align: center;
    margin-top: 20px;
}
.countdown-container ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.countdown-container ul li{
    margin: 30px;
    font-size: 50%;
}
.countdown-container ul li h2{
    font-size: 500%;
}

@media screen and (min-width: 768px) {
    .menu{
        display: none;
    }
    nav ul{
        display: flex;
        list-style: none;
        font-size: 150%;
        float: right;
        margin: 30px;
    }
    nav ul li{
        margin: 20px;
    }
    .countdown-caption{
        flex-direction: 150%;
    }
    .countdown-container ul{
        flex-direction:row;
    }
    .countdown-container ul li{
        font-size: 100%;
        margin: 40px;
    }
}


